environment          = "prod"
project_name         = "{{.ProjectName}}"
billing_account      = ""
org_id               = ""
folder_id            = ""
oauth2_client_id     = ""
members              = [ ]
domain               = "atos-digital.net"
db_name              = "{{.ProjectName}}-dev-db"
db_user_name         = "{{.ProjectName}}-dev-dbuser"
unique_str           = "{{.UniqueStr}}"