environment          = "prod"
project_name         = "{{.ProjectName}}"
billing_account      = ""
org_id               = ""
folder_id            = ""
oauth2_client_id     = ""
members              = [ ]
domain               = ""
db_name              = "{{.ProjectName}}-db"
db_user_name         = "{{.ProjectName}}-dbuser"
unique_str           = "{{.UniqueStr}}"