# Storage account & backend string for tfstate
resource_group_name  = "vision-infra-plugin-rg"
storage_account_name = "infrapluginstgacc"
container_name       = "tfstate"
key                  = "terraform.dev.tfstate"
